\documentclass[
    fontsize=11pt,
    letterpaper,oneside,paper=portrait
]{scrartcl}

\usepackage[charter]{mathdesign}
\usepackage[sups,osf]{XCharter}
\usepackage[semibold]{sourcesanspro}
\usepackage[scaled=1.04,varqu,varl]{inconsolata}

\usepackage{microtype}
\usepackage[x11names,svgnames,dvipsnames,table]{xcolor}
\usepackage{hyperref}
\usepackage{booktabs}
\usepackage{array}
\usepackage{nicefrac}
\usepackage{longtable}

\usepackage[margin=0.75in]{geometry}

%%%% METADATA  %%%% %%%% %%%% %%%%
\newcommand{\myname}{lipidless.com}
\newcommand{\mydate}{ {{- date -}} }
\newcommand{\mytitle}{ {{- title -}} }
\newcommand{\myurl}{https://www.lipidless.com/recipes/{{- slug -}}}
%%%% %%%% %%%% %%%% %%%% %%%% %%%%

% links
\hypersetup{
  colorlinks=false,
  pdfborderstyle={/S/S/W 0.5},
  pdfborder={0 0 0.5},
  allbordercolors={0.8 0.8 1}
}

% no section numbering
\setcounter{secnumdepth}{0}

% reduce paragraph vspace
\KOMAoptions{parskip=half}

% do not indent paragraphs
\setlength{\parindent}{0pt}

% section heading styling
\addtokomafont{section}{\sffamily\Large}
\addtokomafont{subsection}{\sffamily\large}

% bold sans
\newcommand{\sfbf}[1]{\textbf{\sffamily #1}}

% bold sans with some spacing, like a compact paragraph
\newcommand{\paragrcompact}[1]{\textbf{\sffamily #1}\quad}

% shared recipe layout lengths
\newlength{\recipeamountwidth}
\newlength{\recipeunitwidth}
\newlength{\recipedescnaturalwidth}
\newlength{\recipeingredientdescwidth}
\newlength{\recipeingredientblockwidth}
\newlength{\recipestepwidth}
\newlength{\recipecolumngap}
\newlength{\recipeamountunitgap}
\newlength{\recipeunitdescgap}
\newlength{\recipewidthbuffer}
\newcommand{\measuremaxwidth}[2]{

  \settowidth{\dimen0}{#2}%
  \ifdim\dimen0>#1\relax
    #1=\dimen0\relax
  \fi
}

\pagestyle{empty}
\setlength{\LTleft}{0pt}
\setlength{\LTright}{0pt}

\begin{document}

{\sffamily \textbf{\LARGE \mytitle} \hfill \mydate \hfill \href{\myurl}{\myname}}

\vspace{\baselineskip}

{{ desc }}

{% if steps %}
\subsection*{Steps}

{% endif %}
\renewcommand{\arraystretch}{1.15}
\setlength{\recipecolumngap}{1.0em}
\setlength{\recipeamountunitgap}{0.3em}
\setlength{\recipeunitdescgap}{0.8em}
\setlength{\recipewidthbuffer}{0.35em}
\setlength{\recipeamountwidth}{2em}
\setlength{\recipeunitwidth}{0pt}
\setlength{\recipedescnaturalwidth}{0pt}
{% for step in steps %}
{% for item in step.get("items", []) %}
\measuremaxwidth{\recipeamountwidth}{ {{- item.amount if item.amount else '\\mbox{}' -}} }
\measuremaxwidth{\recipeunitwidth}{ {{- item.unit if item.unit else '\\mbox{}' -}} }
\measuremaxwidth{\recipedescnaturalwidth}{ {{- item.desc -}} }
{% endfor %}
{% endfor %}
\setlength{\recipeingredientdescwidth}{\dimexpr\recipedescnaturalwidth+\recipewidthbuffer\relax}
\setlength{\recipeingredientblockwidth}{\dimexpr\recipeamountwidth+\recipeamountunitgap+\recipeunitwidth+\recipeunitdescgap+\recipeingredientdescwidth\relax}
\ifdim\recipeingredientblockwidth>0.48\textwidth
  \setlength{\recipeingredientblockwidth}{0.48\textwidth}
  \setlength{\recipeingredientdescwidth}{\dimexpr\recipeingredientblockwidth-\recipeamountwidth-\recipeamountunitgap-\recipeunitwidth-\recipeunitdescgap\relax}
\fi
\setlength{\recipestepwidth}{\dimexpr\textwidth-\recipecolumngap-\recipeingredientblockwidth\relax}

{\setlength{\parskip}{0pt}%
\begin{longtable}{@{}>{\raggedright\arraybackslash}p{\recipestepwidth}@{\hspace{\recipecolumngap}}>{\raggedright\arraybackslash}p{\recipeingredientblockwidth}@{}}
\toprule
\endfirsthead
\toprule
\endhead
\bottomrule
\endfoot
\bottomrule
\endlastfoot
{% for step in steps -%}
{{- step.desc -}} & {% if step.get("items", []) -%}\parbox[t]{\recipeingredientblockwidth}{\begin{tabular}[t]{@{}>{\raggedleft\arraybackslash}p{\recipeamountwidth}@{\hspace{\recipeamountunitgap}}>{\raggedright\arraybackslash}p{\recipeunitwidth}@{\hspace{\recipeunitdescgap}}>{\raggedright\arraybackslash}p{\recipeingredientdescwidth}@{}}%
{% for item in step.get("items", []) -%}
{{- item.amount if item.amount else '' -}} & {{- item.unit if item.unit else '\\mbox{}' -}} & {{- item.desc -}} \\
{% endfor -%}
\end{tabular}}{% else -%}\mbox{}{% endif %}\tabularnewline
{% if not loop.last -%}
\midrule
{% endif -%}
{% endfor %}
\end{longtable}}

{% if notes %}
\subsection*{Notes}

{% for note in notes %}
\paragrcompact{ {{- note.title -}} } {{ note.desc }}

{% endfor %}
{% endif %}
\end{document}
